.image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    height: 200px;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    color: #7F7F7F;
    line-height: 19px;
    word-wrap: break-word;
    margin: 32px auto;
    width: 448px;
    text-align: center;
}
